body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    }

    header {
        background-color: rgb(207, 212, 201);  
        text-align:center;
        font-size: 40px;
    }  
    header h1:hover{
    color: white;
    } 

    ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    }

    nav {
    background-color:rgb(106, 149, 105);
    }

    .navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    }

    a {
        text-decoration: none;
        font-weight: bold;
        font-family: serif;
        color: white;
        padding: 10px;
    }

    a:hover {
        color:black;
    }

    footer {
        background-color: rgb(106, 149, 105);
        padding: 20px;
    }
    .icons{
        display: flex;
        justify-content:center;
        margin-top: auto;
    }
    main {
        flex-grow: 1;
    }

    #left-words {
        color: white;
        text-align: center;
        font-family: sans-serif;
        padding-left: 30px;
    }

    .left {
        justify-content: flex-start;
        z-index: 1;
    }

    .left-icon {
        display: flex;
        justify-content: flex-start;
        position: relative;
        z-index: 2;
        padding-right: 350px;
    }

    #right-words {
        color: white;
        text-align: center;
        font-family: sans-serif;
        padding-left: 350px;
    }

    h3 {
        display: flex;
        position: relative;
    }

    .right {
        justify-content: flex-end;
        z-index: 1;
    }

    .right-form {
        display: flex;
        justify-content: flex-end;
        position: relative;
        z-index: 2;
        padding-right:50px;
        padding-top: 20px;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }
    
    .old {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 47%;
    }

    .email {
        border-radius: 8px;
        border-color: rgb(106, 149, 105);
        height: 20px;
        padding-left: 5px;
    }

    #submit {
        border-radius: 5px;
        border-color: rgb(106, 149, 105);
    }

    #submit:hover {
        box-shadow: 0 0 10px 0 black;
    }
    section h1{
        text-align: center;
        font-size: 40px;

    }
    label{
        font-weight: bold;
    }
   
    
     .box-display{
        height: 500px;
        width: 500px;
        border: 3px solid black;
        animation-name: box-display;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        margin-bottom: 300px;
        
     }

    @keyframes box-display{
            
        0% {
            background-image: url(images/old\ lady\ \ with\ \ cell\ phone\ .jpeg);
            background-size: 500px 500px;
    
        }
        25% {
            background-image: url(images/man\ using\ phone.jpeg);
            background-size: 500px 500px ;
        }
        50%{
            background-image: url(images/happy\ couple\ using\ phone.jpeg);
            background-size: 500px 500px;
        }

        
        100%{
            background-image: url(images/old\ people\ pay\ bills.jpeg);
            background-size: 500px 500px;
        }   
    }

    .form-box-right, h2{
       text-align: right;
    }

    .form-box-right{
        text-align: right;
        background-color: rgb(106, 149, 105);
        padding:20px;
        margin: 30px;
        float:right;
        min-width: 800px;
     top: 200px;
    }
    :placeholder-shown{
        text-align: right;
    }

    form{
        display: flex;
        flex-direction:column;
        border: 2px solid black;
    }
    
    input{
        height: 30px;
        margin-top: 0px;
        border:1px solid black;
    }

    textarea{
        height: 80px; 
    }
    button{
        background-color:green ;
        color: white;
       border:2px solid black;
    }
    button:hover{
        background-color: white;
        color:black;
    }
    
    .form-box-left img{
        height :50px;
    }
    .form-box-left h2{
        text-align: left;
    }

    .form-box-left{
        font-size: 25px;
        padding:20px;
    } 
  
