    
    body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    }

    main {
        flex-grow: 1;
    }

    ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    }

    nav {
    background-color:rgb(106, 149, 105);
    }

    .navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    }

    a {
        text-decoration: none;
        font-weight: bold;
        font-family: serif;
        color: white;
        padding: 10px;
    }

    a:hover {
        color:black;
    }

    footer {
        background-color: rgb(106, 149, 105);
        padding: 20px;
    }
    .icons{
        display: flex;
        justify-content:center;
        margin-top: auto;
    }


    #left-words {
        color: white;
        text-align: center;
        font-family: sans-serif;
        padding-left: 30px;
    }

    .left {
        justify-content: flex-start;
        z-index: 1;
    }

    .left-icon {
        display: flex;
        justify-content: flex-start;
        position: relative;
        z-index: 2;
        padding-right: 350px;
    }

    #right-words {
        color: white;
        text-align: center;
        font-family: sans-serif;
        padding-left: 350px;
    }

    h3 {
        display: flex;
        position: relative;
    }

    .right {
        justify-content: flex-end;
        z-index: 1;
    }

    .right-form {
        display: flex;
        justify-content: flex-end;
        position: relative;
        z-index: 2;
        padding-right:50px;
        padding-top: 20px;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }
    
    #old {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 47%;
    }

    .email {
        border-radius: 8px;
        border-color: rgb(106, 149, 105);
        height: 20px;
        padding-left: 5px;
    }

    #submit {
        border-radius: 5px;
        border-color: rgb(106, 149, 105);
    }

    #submit:hover {
        box-shadow: 0 0 10px 0 black;
    }

    .old-picture {
        background-color: rgb(207, 212, 201);
        display: flex;
        justify-content: inline-block;
    }   

    h1 {
        text-align: center;
        font-family: sans-serif;
    }

    #logo {
        position: absolute;
        top: 0.5%;
    }


    .fun-facts {
        display: flex;
        margin-top: 20px;
        justify-content: space-evenly;
        font-family:'Times New Roman', Times, serif;
        background-color: rgb(231, 242, 231);
        border-radius: 10px;
        border-color: black;
        border-width: 2px;
        border-style: solid;
        width: 80%;
        margin: auto;
        box-shadow: 5px 10px rgb(120, 139, 117);
        padding: 20px;
        font-size: 18px;
    }

    #fact1 {
        border-radius: 10px;
        border-style: solid;
        padding: 15px;
        text-align: center;
        border-width: 2px;
        border-color:rgb(203, 232, 205);
        box-shadow: 5px 10px rgb(202, 216, 199);
        padding-top: 22px;
    
    }

    #fact2 {
        border-radius: 10px;
        border-style: solid;
        padding: 15px;
        text-align: center;
        border-width: 2px;
        border-color:rgb(203, 232, 205);
        box-shadow: 5px 10px rgb(202, 216, 199);
        padding-top: 25px;
    }

    #fact3 {
        border-radius: 10px;
        border-style: solid;
        padding: 10px;
        text-align: center;
        border-width: 2px;
        border-color: rgb(203, 232, 205);
        box-shadow: 5px 10px rgb(202, 216, 199);
    }

    #DBG {
        text-shadow: 2px 2px 4px rgb(179, 218, 179);
        letter-spacing: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 45px;
        text-align: center;
    }

    #DBG2 {
        text-shadow: 2px 2px 4px rgb(179, 218, 179);
        letter-spacing: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }

    #paragraph {
        background-color: rgb(231, 242, 231);
        text-align: center;
        border-width: 2px;
        border-style: solid;
        border-radius: 10px;
        border-color: black;
        box-shadow: 5px 10px rgb(120, 139, 117);
        padding: 25px;
        font-size: 22px;
        font-family:'Times New Roman', Times, serif;
    }

    #people-phones {
        display: flex;
        justify-content: space-between;
        padding: 60px;
    }
    
    .old-phones {
        border-width: 2px;
        border-radius: 50%;
        border-style: solid;
        border-color: rgb(146, 180, 150);
        
    }

    #bottom-box {
        padding-bottom: 20px;

    }
